@model Project4SAD.ViewModel.ViewModelRegister
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post">
    <input type="email" asp-for="Email" />
    <input type="password" asp-for="pass" />
    <input type="submit" />
</form>

