
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a asp-action="Items" asp-controller="Admin" >Items</a>
        </div>
        <div class="col-md-6">
            <a asp-action="Orders" asp-controller="Admin"> Order</a>
        </div>
    </div>
</div>
